
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.menu-consultas-o1c {
  overflow: hidden;
  background-color: #f8f8f8;
  width: 100%;
  height: 90rem;
  position: relative;

  .fundo-branco-gLJ {
    border-radius: 0.4rem;
    height: 79.5rem;
    position: absolute;
    left: 33.7rem;
    top: 13.4rem;
    border: solid 0.1rem #e5e5e5;
    width: 103.9rem;
    box-sizing: border-box;
    background-color: #ffffff;
  }
  .perfil-do-alunoa-MhL {
    position: absolute;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.1725;
    color: #000000;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    width: 15.5rem;
    height: 2.4rem;
    left: 40.9rem;
    top: 17rem;
  }
  .perfil-do-aluno-infos-kjU {
    position: absolute;
    left: 39.9rem;
    top: 22.1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 17.5rem;
    height: 60.4rem;

    .rea-da-foto-4VG {
      width: 17.5rem;
      height: 17.5rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 3.5rem;
    }
    .breno-da-silva-soares-nRG {
      font-size: 1.9rem;
      line-height: 1.1725;
      margin-bottom: 2.8rem;
      max-width: 12.1rem;
      text-align: center;
      font-weight: 700;
      color: rgba(0, 0, 0, 0.8000000119);
      font-family: Roboto, 'Source Sans Pro';
      flex-shrink: 0;

      .breno-da-silva-soares-nRG-sub-0 {
      }
      .breno-da-silva-soares-nRG-sub-1 {
        line-height: 1.1725;
        color: rgba(0, 0, 0, 0.8000000119);
        font-family: Roboto, 'Source Sans Pro';
        font-size: 1.9rem;
        font-weight: 700;
      }
    }
    .desenvolvimento-de-sistemas-turno-diurno-ciclo-3-HFY {
      text-align: center;
      font-size: 1.3rem;
      flex-shrink: 0;
      font-family: Roboto, 'Source Sans Pro';
      margin-right: 0.1rem;
      max-width: 17.2rem;
      font-weight: 300;
      line-height: 1.1725;
      color: #000000;
    }
    .auto-group-y32f-yPG {
      padding: 0.4rem 0.55rem 0rem 0.95rem;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;

      .rendimento-TpE {
        width: 15.9rem;
        height: 7.4rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 3.8rem;
      }
      .integralizao-oNJ {
        margin-bottom: 4.966rem;
        width: 15.9rem;
        height: 4.134rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .brenodossantosifamedu-JZx {
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        align-items: baseline;
        text-align: center;
        font-size: 1.3rem;
        line-height: 1.1725;
        display: flex;
        flex-shrink: 0;
        margin-bottom: 0.5rem;
        font-weight: 300;
        white-space: nowrap;

        .brenodossantosifamedu-JZx-sub-0 {
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          font-size: 1.3rem;
          font-weight: 300;
          line-height: 1.1725;
        }
        .brenodossantosifamedu-JZx-sub-1 {
        }
      }
      .ra-123456789000-JyG {
        text-align: center;
        font-size: 1.3rem;
        font-family: Roboto, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 0.4rem;
        font-weight: 300;
        line-height: 1.1725;
        color: #000000;
        white-space: nowrap;
      }
    }
  }
  .matrcula-DaS {
    position: absolute;
    left: 32.3rem;
    font-size: 3rem;
    line-height: 1.1725;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    width: 12.6rem;
    height: 3.6rem;
    top: 4.6rem;
    font-weight: 400;
    color: #000000;
  }
  .matrcula-5sY {
    left: 63.2rem;
    display: flex;
    padding: 2.1rem 0.655rem 0rem 1.591rem;
    width: 68.7rem;
    position: absolute;
    align-items: flex-start;
    background-color: rgba(196, 196, 196, 0.1000000015);
    box-sizing: border-box;
    height: 63.7rem;
    top: 22.1rem;

    .auto-group-autf-ZGv {
      box-sizing: border-box;
      width: 64.1138rem;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:a511823d556e8ab55849fe4aebda693fe0d016cb');
      flex-shrink: 0;
      margin-right: 1.4976rem;
      padding: 20.718rem 3.105rem 32.7rem 6.271rem;
      background-size: 100% 100%;

      .caixas-de-censura-far {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        .auto-group-bdrf-R4E {
          width: 100%;
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;
          margin-bottom: 2.3rem;

          .rectangle-50-mNz {
            background-color: #ffffff;
            flex-shrink: 0;
            margin-right: 20.795rem;
            width: 8.1429rem;
            height: 1.8rem;
          }
          .rectangle-52-6w4 {
            height: 2.324rem;
            background-color: #ffffff;
            flex-shrink: 0;
            margin-bottom: 1.758rem;
            width: 25.8rem;
          }
        }
        .rectangle-51-DEz {
          height: 1.8rem;
          background-color: #ffffff;
          flex-shrink: 0;
          width: 11.8868rem;
        }
      }
    }
    .rolagem-EA6 {
      background-color: #c4c4c4;
      border-radius: 9rem;
      flex-shrink: 0;
      width: 0.8424rem;
      height: 49.7rem;
    }
  }
  .comprovante-de-matrcula-kPL {
    color: #000000;
    white-space: nowrap;
    height: 2.4rem;
    left: 63.2rem;
    top: 17rem;
    font-weight: 400;
    line-height: 1.1725;
    font-family: Roboto, 'Source Sans Pro';
    width: 23.6rem;
    position: absolute;
    font-size: 2rem;
  }
  .botes-FL6 {
    width: 20.7rem;
    height: 3.4rem;
    position: absolute;
    left: 111.2rem;
    top: 15.5rem;
    display: flex;
    align-items: center;

    .auto-group-rqvj-n58 {
      align-items: center;
      border-radius: 1rem;
      flex-shrink: 0;
      height: 100%;
      box-sizing: border-box;
      padding: 0.8rem 0.7rem 0.9rem 1rem;
      display: flex;
      background-color: rgba(153, 153, 153, 0.25);
      margin-right: 0.7rem;

      .icone-download-6bc {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.5rem;
        width: 1.6rem;
        height: 1.7rem;
      }
      .download-drS {
        font-weight: 300;
        line-height: 1.2;
        color: rgba(0, 0, 0, 0.6999999881);
        font-family: Lato, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.4rem;
      }
    }
    .auto-group-xxbz-uZ4 {
      height: 100%;
      display: flex;
      align-items: center;
      background-color: rgba(153, 153, 153, 0.25);
      border-radius: 1rem;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.8rem 0.9rem 0.8rem 1.2rem;

      .icone-imprimir-2Nn {
        margin-right: 0.7rem;
        width: 2rem;
        height: 1.8rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .imprimir-m5U {
        color: rgba(0, 0, 0, 0.6999999881);
        font-family: Lato, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.1rem;
        font-size: 1.4rem;
        font-weight: 300;
        line-height: 1.2;
      }
    }
  }
  .barra-de-pesquisa-seJ {
    width: 28.8rem;
    height: 4.5rem;
    left: 108.8rem;
    top: 3.3rem;
    align-items: center;
    border-radius: 1rem;
    box-sizing: border-box;
    padding: 1.3rem 17.7rem 1.143rem 1.7rem;
    position: absolute;
    display: flex;
    background-color: #ffffff;

    .vector-mDt {
      margin-right: 1rem;
      width: 2rem;
      height: 2.0573rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .procurar-rFL {
      font-weight: 700;
      line-height: 1.2;
      color: #aab2c8;
      font-family: Lato, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.0573rem;
      font-size: 1.6rem;
    }
  }
  .menu-ZvS {
    width: 27.3rem;
    height: 90rem;
    position: absolute;
    left: 0;
    top: 0;

    .rectangle-verm-6vN {
      width: 2.2rem;
      height: 90rem;
      position: absolute;
      left: 25.1rem;
      top: 0;
      background-color: #a02c2c;
    }
    .rectangle-cinza-3ai {
      width: 25.4rem;
      height: 90rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #212529;
    }
    .destaque-bML {
      width: 25.4rem;
      height: 6.6rem;
      position: absolute;
      left: 0;
      top: 32.6rem;
      background-color: rgba(61, 65, 69, 0.6899999976);
    }
    .cones-Xkn {
      width: 2rem;
      position: absolute;
      left: 2.4rem;
      top: 28.3rem;
      align-items: center;
      flex-direction: column;
      box-sizing: border-box;
      padding: 0.158rem 0.078rem 0.158rem 0.179rem;
      height: 54.3rem;
      display: flex;

      .icone-matricula-bke {
        width: 1.5756rem;
        height: 1.5843rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0rem 5.395rem 0.001rem;
      }
      .icone-consultas-J9G {
        width: 1.7433rem;
        height: 1.425rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 5.3042rem;
      }
      .icone-planos-de-ensino-dhL {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.102rem 5.404rem 0rem;
        width: 1.3333rem;
        height: 1.6667rem;
      }
      .icone-matrizes-9va {
        margin: 0rem 0.002rem 5.445rem 0rem;
        width: 1.425rem;
        height: 1.425rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .icone-biblioteca-s5t {
        margin: 0rem 0.001rem 5.359rem 0rem;
        width: 1.6627rem;
        height: 1.4806rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .icone-solicitaes-B6a {
        width: 1.5854rem;
        height: 1.6012rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.002rem 9.409rem 0rem;
      }
      .icone-conta-6DY {
        width: 1.5555rem;
        height: 1.5835rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.052rem 5.317rem 0rem;
      }
      .icone-sair-1rJ {
        margin-right: 0.0024rem;
        width: 1.425rem;
        height: 1.5836rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .line-1-8R8 {
      width: 25.4rem;
      height: 0.1rem;
      position: absolute;
      left: 0.4rem;
      top: 68.7rem;
      background-color: #515558;
    }
    .conta-sair-rrv {
      position: absolute;
      left: 6.6rem;
      top: 73.7rem;
      font-weight: 700;
      font-family: Roboto, 'Source Sans Pro';
      width: 5.4rem;
      height: 9.4rem;
      color: #ffffff;
      font-size: 2rem;
      line-height: 1.1725;
    }
    .matrcula-consultas-planos-de-ensino-matrizes-em-ingls-biblioteca-solicitaes-Yze {
      width: 16.9rem;
      height: 45.8rem;
      color: #ffffff;
      font-family: Roboto, 'Source Sans Pro';
      line-height: 1.1725;
      position: absolute;
      left: 6.0081rem;
      top: 28.2rem;
      font-size: 3rem;
      font-weight: 700;

      .matrcula-consultas-planos-de-ensino-matrizes-em-ingls-biblioteca-solicitaes-Yze-sub-0 {
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.1725;
      }
      .matrcula-consultas-planos-de-ensino-matrizes-em-ingls-biblioteca-solicitaes-Yze-sub-1 {
      }
    }
    .group-11-LZ8 {
      flex-direction: column;
      width: 17.2rem;
      height: 23.4rem;
      position: absolute;
      left: 2.7rem;
      top: 1rem;
      align-items: center;
      display: flex;

      .auto-group-vyvy-qkn {
        width: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .ellipse-2-zdg {
          margin-right: 0.8rem;
          width: 5.6rem;
          height: 5.7rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .rectangle-63-8Uz {
          flex-shrink: 0;
          margin: 0.1rem 1rem 0rem 0rem;
          width: 4.9rem;
          height: 5rem;
          background-color: rgba(11, 144, 0, 0.9200000167);
          border-radius: 1rem;
        }
        .rectangle-64-QSW {
          margin-top: 0.1rem;
          width: 4.9rem;
          height: 5rem;
          background-color: rgba(11, 144, 0, 0.9200000167);
          border-radius: 1rem;
          flex-shrink: 0;
        }
      }
      .auto-group-yuh9-87c {
        box-sizing: border-box;
        padding: 0.9rem 0rem 0rem 0.4rem;
        width: 100%;
        row-gap: 0.9rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-yjhm-qGv {
          margin-right: 5.8rem;
          width: calc(100% - 5.8rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .rectangle-60-LzN {
            flex-shrink: 0;
            margin-right: 1.2rem;
            width: 4.9rem;
            height: 5rem;
            background-color: rgba(11, 144, 0, 0.9200000167);
            border-radius: 1rem;
          }
          .rectangle-65-gHY {
            border-radius: 1rem;
            flex-shrink: 0;
            width: 4.9rem;
            height: 5rem;
            background-color: rgba(11, 144, 0, 0.9200000167);
          }
        }
        .auto-group-qe6k-DHU {
          width: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .rectangle-61-yGe {
            margin-right: 1.1rem;
            width: 4.9rem;
            height: 5rem;
            background-color: rgba(11, 144, 0, 0.9200000167);
            border-radius: 1rem;
            flex-shrink: 0;
          }
          .rectangle-66-WXU {
            flex-shrink: 0;
            margin-right: 1rem;
            width: 4.9rem;
            height: 5rem;
            background-color: rgba(11, 144, 0, 0.9200000167);
            border-radius: 1rem;
          }
          .rectangle-67-3nJ {
            width: 4.9rem;
            height: 5rem;
            background-color: rgba(11, 144, 0, 0.9200000167);
            border-radius: 1rem;
            flex-shrink: 0;
          }
        }
        .auto-group-enhd-PLN {
          align-items: center;
          flex-shrink: 0;
          margin-right: 5.8rem;
          width: calc(100% - 5.8rem);
          display: flex;

          .rectangle-62-uZc {
            margin-right: 1.2rem;
            width: 4.9rem;
            height: 5rem;
            background-color: rgba(11, 144, 0, 0.9200000167);
            border-radius: 1rem;
            flex-shrink: 0;
          }
          .rectangle-68-DqC {
            border-radius: 1rem;
            flex-shrink: 0;
            width: 4.9rem;
            height: 5rem;
            background-color: rgba(11, 144, 0, 0.9200000167);
          }
        }
      }
    }
  }
  .consultas-opes-8xA {
    padding: 3.2rem 0rem 2.6rem 0rem;
    top: 29.4rem;
    background-color: rgba(33, 37, 41, 0.8999999762);
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 19.2rem;
    height: 19.7rem;
    position: absolute;
    left: 25.7rem;
    box-shadow: 0.1rem 0.1rem 3.2rem rgba(0, 0, 0, 0.25);

    .auto-group-knet-de2 {
      background-color: rgba(61, 65, 69, 0.6899999976);
      margin-bottom: 2.6rem;
      box-sizing: border-box;
      padding: 1rem 2.8rem 0.9rem 2.6rem;
      width: 100%;
      height: 6.6rem;

      .horrio-grade-curricular-w8v {
        max-width: 13.8rem;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.1725;
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
      }
    }
    .histrico-completo-SrN {
      font-weight: 700;
      line-height: 1.1725;
      color: #ffffff;
      font-family: Roboto, 'Source Sans Pro';
      margin-left: 2.6rem;
      max-width: 8.7rem;
      font-size: 2rem;
    }
  }
}
