
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 164rem;
}.paleta-de-cores-kQS {
  width: 100%;
  display: flex;
  column-gap: 4rem;
  align-items: center;

  .tela-X3p {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: 25.6rem;

    .fundo-PkE {
      height: 100%;
      overflow: hidden;
      flex-direction: column;
      background-color: #ffffff;
      border-radius: 0.8rem;
      flex-shrink: 0;
      margin-right: 4rem;
      box-sizing: border-box;
      padding-bottom: 2rem;
      width: 12.8rem;
      position: relative;
      align-items: center;
      display: flex;

      .color-ZYE {
        height: 19.2rem;
        background-color: #f8f8f8;
        border-radius: 0.8rem 0.8rem 0 0;
        flex-shrink: 0;
        margin-bottom: 2rem;
        width: 100%;
      }
      .f8f8f8-Fvr {
        font-size: 1.6rem;
        letter-spacing: 0.044rem;
        color: #263238;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        font-weight: 400;
        line-height: 1.5;
        align-items: center;
      }
    }
    .sombra-iZY {
      overflow: hidden;
      position: relative;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      width: 12.8rem;
      height: 100%;

      .color-TX8 {
        flex-shrink: 0;
        width: 100%;
        height: 19.2rem;
        background-color: rgba(55, 71, 79, 0.5600000024);
        border-radius: 0.8rem 0.8rem 0 0;
      }
      .auto-group-ikjb-Zq4 {
        width: 100%;
        height: 6.4rem;
        align-items: center;
        white-space: nowrap;
        font-weight: 400;
        background-color: #ffffff;
        flex-shrink: 0;
        justify-content: center;
        font-size: 1.6rem;
        line-height: 1.5;
        border-radius: 0.8rem;
        display: flex;
        letter-spacing: 0.044rem;
        color: #263238;
        font-family: IBM Plex Sans, 'Source Sans Pro';
      }
    }
  }
  .cores-da-barra-XQW {
    flex-shrink: 0;
    height: 25.6rem;
    display: flex;
    align-items: center;

    .fundo-TZ4 {
      flex-shrink: 0;
      margin-right: 4rem;
      width: 12.8rem;
      height: 100%;
      align-items: center;
      display: flex;
      overflow: hidden;
      position: relative;
      flex-direction: column;

      .color-Phc {
        width: 100%;
        height: 19.2rem;
        background-color: #f5f6fa;
        border-radius: 0.8rem 0.8rem 0 0;
        flex-shrink: 0;
      }
      .auto-group-mktm-Y4i {
        width: 100%;
        display: flex;
        line-height: 1.5;
        letter-spacing: 0.044rem;
        color: #263238;
        align-items: center;
        font-weight: 400;
        height: 6.4rem;
        justify-content: center;
        background-color: #ffffff;
        border-radius: 0.8rem;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .contorno-aGJ {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      width: 12.8rem;
      height: 100%;
      overflow: hidden;
      position: relative;

      .color-W9x {
        width: 100%;
        height: 19.2rem;
        background-color: #aab2c8;
        border-radius: 0.8rem 0.8rem 0 0;
        flex-shrink: 0;
      }
      .auto-group-wsyp-SZQ {
        width: 100%;
        display: flex;
        justify-content: center;
        letter-spacing: 0.044rem;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        white-space: nowrap;
        height: 6.4rem;
        font-weight: 400;
        line-height: 1.5;
        background-color: #ffffff;
        align-items: center;
        flex-shrink: 0;
        font-size: 1.6rem;
        color: #263238;
        border-radius: 0.8rem;
      }
    }
  }
  .cores-do-calendrio-sei {
    height: 25.6rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .fonte-maior-zUS {
      margin-right: 4rem;
      position: relative;
      display: flex;
      flex-shrink: 0;
      width: 12.8rem;
      height: 100%;
      overflow: hidden;
      align-items: center;
      flex-direction: column;

      .color-ifL {
        width: 100%;
        height: 19.2rem;
        background-color: #333333;
        border-radius: 0.8rem 0.8rem 0 0;
        flex-shrink: 0;
      }
      .auto-group-hxjh-rmY {
        color: #263238;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 6.4rem;
        background-color: #ffffff;
        letter-spacing: 0.044rem;
        white-space: nowrap;
        border-radius: 0.8rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        width: 100%;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
    .fonte-menor-jKY {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      width: 12.8rem;
      height: 100%;
      overflow: hidden;
      position: relative;
      align-items: center;

      .color-gEn {
        height: 19.2rem;
        background-color: #666666;
        border-radius: 0.8rem 0.8rem 0 0;
        flex-shrink: 0;
        width: 100%;
      }
      .auto-group-cdqq-23k {
        display: flex;
        font-size: 1.6rem;
        width: 100%;
        justify-content: center;
        font-weight: 400;
        letter-spacing: 0.044rem;
        background-color: #ffffff;
        border-radius: 0.8rem;
        height: 6.4rem;
        line-height: 1.5;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        flex-shrink: 0;
        align-items: center;
        color: #263238;
        white-space: nowrap;
      }
    }
  }
  .cores-da-fatec-StA {
    height: 25.6rem;
    display: flex;
    column-gap: 4rem;
    align-items: center;
    flex-shrink: 0;

    .cor-1-B54 {
      flex-shrink: 0;
      box-sizing: border-box;
      padding-bottom: 2rem;
      width: 12.8rem;
      height: 100%;
      align-items: center;
      display: flex;
      overflow: hidden;
      position: relative;
      flex-direction: column;
      background-color: #ffffff;
      border-radius: 0.8rem;

      .color-hJJ {
        background-color: #212529;
        border-radius: 0.8rem 0.8rem 0 0;
        flex-shrink: 0;
        margin-bottom: 2rem;
        width: 100%;
        height: 19.2rem;
      }
      .item-212529-2La {
        display: flex;
        align-items: center;
        font-weight: 400;
        white-space: nowrap;
        flex-shrink: 0;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        justify-content: center;
        font-size: 1.6rem;
        line-height: 1.5;
        letter-spacing: 0.044rem;
        color: #263238;
      }
    }
    .cor-2-tNn {
      height: 100%;
      overflow: hidden;
      align-items: center;
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      border-radius: 0.8rem;
      box-sizing: border-box;
      padding-bottom: 2rem;
      width: 12.8rem;
      position: relative;
      flex-shrink: 0;

      .color-pGS {
        flex-shrink: 0;
        margin-bottom: 2rem;
        width: 100%;
        height: 19.2rem;
        background-color: #343a40;
        border-radius: 0.8rem 0.8rem 0 0;
      }
      .a40-YiE {
        align-items: center;
        line-height: 1.5;
        letter-spacing: 0.044rem;
        display: flex;
        justify-content: center;
        font-size: 1.6rem;
        font-weight: 400;
        color: #263238;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-left: 0.1rem;
      }
    }
    .cor-3-nca {
      align-items: center;
      flex-direction: column;
      background-color: #ffffff;
      flex-shrink: 0;
      box-sizing: border-box;
      padding-bottom: 2rem;
      overflow: hidden;
      display: flex;
      border-radius: 0.8rem;
      width: 12.8rem;
      height: 100%;
      position: relative;

      .color-Jqp {
        border-radius: 0.8rem 0.8rem 0 0;
        flex-shrink: 0;
        margin-bottom: 2rem;
        width: 100%;
        height: 19.2rem;
        background-color: #a02c2c;
      }
      .a02c2c-ppA {
        letter-spacing: 0.044rem;
        color: #263238;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1.5;
        font-size: 1.6rem;
        font-weight: 400;
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .cor-4-XTg {
      box-sizing: border-box;
      width: 12.8rem;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      padding-bottom: 2rem;
      overflow: hidden;
      position: relative;
      background-color: #ffffff;
      border-radius: 0.8rem;

      .color-f46 {
        margin-bottom: 2rem;
        width: 100%;
        height: 19.2rem;
        background-color: #999999;
        border-radius: 0.8rem 0.8rem 0 0;
        flex-shrink: 0;
      }
      .item-999999-PVt {
        justify-content: center;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        flex-shrink: 0;
        display: flex;
        align-items: center;
        letter-spacing: 0.044rem;
        color: #263238;
        white-space: nowrap;
      }
    }
  }
}
