
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.tela4-Zvr {
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  background-color: #f8f8f8;
  padding-right: 6.4rem;

  .menu-h1U {
    margin-right: 5rem;
    width: 27.3rem;
    height: 90rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-verm-cu8 {
      width: 2.2rem;
      height: 90rem;
      position: absolute;
      left: 25.1rem;
      top: 0;
      background-color: #a02c2c;
    }
    .rectangle-cinza-wwQ {
      height: 90rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #212529;
      width: 25.4rem;
    }
    .cones-tLr {
      padding: 0.158rem 0.078rem 0.158rem 0.179rem;
      width: 2rem;
      height: 54.3rem;
      position: absolute;
      align-items: center;
      box-sizing: border-box;
      left: 2.4rem;
      top: 25.3rem;
      display: flex;
      flex-direction: column;

      .icone-matricula-xbc {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0rem 5.395rem 0.001rem;
        width: 1.5756rem;
        height: 1.5842rem;
        object-fit: contain;
      }
      .icone-consultas-eDY {
        margin-bottom: 5.3042rem;
        width: 1.7433rem;
        height: 1.425rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .icone-planos-de-ensino-9vz {
        margin: 0rem 0.102rem 5.404rem 0rem;
        width: 1.3333rem;
        height: 1.6667rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .icone-matrizes-Gki {
        width: 1.425rem;
        height: 1.425rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.002rem 5.445rem 0rem;
      }
      .icone-biblioteca-BMt {
        margin: 0rem 0.001rem 5.359rem 0rem;
        width: 1.6627rem;
        height: 1.4806rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .icone-solicitaes-uYn {
        height: 1.6012rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.002rem 9.409rem 0rem;
        width: 1.5854rem;
      }
      .icone-conta-2dQ {
        margin: 0rem 0.052rem 5.317rem 0rem;
        width: 1.5555rem;
        height: 1.5835rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .icone-sair-x1G {
        margin-right: 0.0024rem;
        width: 1.425rem;
        height: 1.5836rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .line-1-3YW {
      background-color: #515558;
      width: 25.4rem;
      height: 0.1rem;
      position: absolute;
      left: 0.4rem;
      top: 64.2rem;
    }
    .conta-sair-At2 {
      left: 6.6rem;
      font-family: Roboto, 'Source Sans Pro';
      position: absolute;
      top: 70.6rem;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.1725;
      color: #ffffff;
      width: 5.4rem;
      height: 9.4rem;
    }
    .matrcula-consultas-planos-de-ensino-matrizes-em-ingls-biblioteca-solicitaes-UNv {
      left: 6.0081rem;
      font-size: 3rem;
      font-weight: 700;
      line-height: 1.1725;
      font-family: Roboto, 'Source Sans Pro';
      width: 16.9rem;
      height: 45.8rem;
      position: absolute;
      top: 25.2rem;
      color: #ffffff;

      .matrcula-consultas-planos-de-ensino-matrizes-em-ingls-biblioteca-solicitaes-UNv-sub-0 {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.1725;
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
      }
      .matrcula-consultas-planos-de-ensino-matrizes-em-ingls-biblioteca-solicitaes-UNv-sub-1 {
      }
    }
    .group-11-5n2 {
      height: 23.4rem;
      position: absolute;
      left: 2rem;
      top: 0.5rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 17.2rem;

      .auto-group-hsdm-oCE {
        width: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .ellipse-2-MUe {
          width: 5.6rem;
          height: 5.7rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.8rem;
        }
        .rectangle-63-Vqk {
          height: 5rem;
          background-color: rgba(11, 144, 0, 0.9200000167);
          border-radius: 1rem;
          flex-shrink: 0;
          margin: 0.1rem 1rem 0rem 0rem;
          width: 4.9rem;
        }
        .rectangle-64-p7L {
          border-radius: 1rem;
          flex-shrink: 0;
          margin-top: 0.1rem;
          width: 4.9rem;
          height: 5rem;
          background-color: rgba(11, 144, 0, 0.9200000167);
        }
      }
      .auto-group-tajh-L5g {
        width: 100%;
        row-gap: 0.9rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.9rem 0rem 0rem 0.4rem;

        .auto-group-wmg3-SuQ {
          align-items: center;
          flex-shrink: 0;
          margin-right: 5.8rem;
          width: calc(100% - 5.8rem);
          display: flex;

          .rectangle-60-y8e {
            background-color: rgba(11, 144, 0, 0.9200000167);
            border-radius: 1rem;
            flex-shrink: 0;
            margin-right: 1.2rem;
            width: 4.9rem;
            height: 5rem;
          }
          .rectangle-65-Vsg {
            border-radius: 1rem;
            flex-shrink: 0;
            width: 4.9rem;
            height: 5rem;
            background-color: rgba(11, 144, 0, 0.9200000167);
          }
        }
        .auto-group-tibh-S2E {
          width: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .rectangle-61-Aiv {
            background-color: rgba(11, 144, 0, 0.9200000167);
            border-radius: 1rem;
            flex-shrink: 0;
            margin-right: 1.1rem;
            width: 4.9rem;
            height: 5rem;
          }
          .rectangle-66-J4S {
            background-color: rgba(11, 144, 0, 0.9200000167);
            border-radius: 1rem;
            flex-shrink: 0;
            margin-right: 1rem;
            width: 4.9rem;
            height: 5rem;
          }
          .rectangle-67-nEW {
            background-color: rgba(11, 144, 0, 0.9200000167);
            border-radius: 1rem;
            flex-shrink: 0;
            width: 4.9rem;
            height: 5rem;
          }
        }
        .auto-group-i3dz-JyY {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-right: 5.8rem;
          width: calc(100% - 5.8rem);

          .rectangle-62-B1k {
            height: 5rem;
            background-color: rgba(11, 144, 0, 0.9200000167);
            border-radius: 1rem;
            flex-shrink: 0;
            margin-right: 1.2rem;
            width: 4.9rem;
          }
          .rectangle-68-iGa {
            width: 4.9rem;
            height: 5rem;
            background-color: rgba(11, 144, 0, 0.9200000167);
            border-radius: 1rem;
            flex-shrink: 0;
          }
        }
      }
    }
  }
  .auto-group-jntf-STU {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 105.3rem;
    align-items: flex-end;

    .auto-group-etru-apa {
      flex-shrink: 0;
      margin-bottom: 5.2rem;
      width: 100%;
      display: flex;
      align-items: flex-end;

      .matrcula-w9L {
        margin-right: 63.9rem;
        font-size: 3rem;
        font-weight: 400;
        line-height: 1.1725;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .barra-de-pesquisa-TtN {
        box-sizing: border-box;
        padding: 1.3rem 17.7rem 1.143rem 1.7rem;
        display: flex;
        align-items: center;
        background-color: #ffffff;
        border-radius: 1rem;
        flex-shrink: 0;
        margin-bottom: 0.4rem;

        .vector-B3g {
          margin-right: 1rem;
          width: 2rem;
          height: 2.0572rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .procurar-VaA {
          margin-bottom: 0.0572rem;
          font-size: 1.6rem;
          font-weight: 700;
          line-height: 1.2;
          color: #aab2c8;
          font-family: Lato, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
    .auto-group-rblk-QBL {
      background-color: #ffffff;
      border-radius: 0.4rem;
      box-sizing: border-box;
      width: 103.9rem;
      flex-direction: column;
      border: solid 0.1rem #e5e5e5;
      flex-shrink: 0;
      padding: 2.1rem 5.7rem 6.8rem 6.2rem;
      height: 79.5rem;
      align-items: center;
      display: flex;

      .auto-group-ekxd-guY {
        margin: 0rem 0rem 1.3rem 1rem;
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .perfil-do-alunoa-2Tc {
          flex-shrink: 0;
          margin-right: 6.8rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.1725;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
        .comprovante-de-matrcula-MVt {
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 24.4rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.1725;
          color: #000000;
        }
        .botes-gYA {
          flex-shrink: 0;
          margin-bottom: 0.5rem;
          height: 3.4rem;
          display: flex;
          align-items: center;

          .auto-group-cbjd-cRp {
            display: flex;
            align-items: center;
            background-color: rgba(153, 153, 153, 0.25);
            border-radius: 1rem;
            margin-right: 0.7rem;
            padding: 0.8rem 0.7rem 0.9rem 1rem;
            height: 100%;
            box-sizing: border-box;
            flex-shrink: 0;

            .icone-download-8f4 {
              height: 1.7rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 0.5rem;
              width: 1.6rem;
            }
            .download-TxE {
              font-family: Lato, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 300;
              line-height: 1.2;
              color: rgba(0, 0, 0, 0.6999999881);
            }
          }
          .auto-group-4wyb-mT8 {
            height: 100%;
            display: flex;
            align-items: center;
            background-color: rgba(153, 153, 153, 0.25);
            border-radius: 1rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.8rem 0.9rem 0.8rem 1.2rem;

            .icone-imprimir-Vtv {
              margin-right: 0.7rem;
              width: 2rem;
              height: 1.8rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .imprimir-hzz {
              font-family: Lato, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.1rem;
              font-size: 1.4rem;
              font-weight: 300;
              line-height: 1.2;
              color: rgba(0, 0, 0, 0.6999999881);
            }
          }
        }
      }
      .auto-group-ddgk-oHL {
        width: 100%;
        height: 65.4rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .perfil-do-aluno-infos-MJr {
          height: calc(100% - 5rem);
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 1.4rem 7.7rem 3.6rem 0rem;
          width: 17.5rem;

          .rea-da-foto-qUv {
            flex-shrink: 0;
            margin-bottom: 3.5rem;
            width: 17.5rem;
            height: 17.5rem;
            object-fit: cover;
            vertical-align: top;
          }
          .breno-da-silva-soares-Lga {
            color: rgba(0, 0, 0, 0.8000000119);
            margin-bottom: 2.8rem;
            font-size: 1.9rem;
            font-weight: 700;
            font-family: Roboto, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 12.1rem;
            text-align: center;
            line-height: 1.1725;

            .breno-da-silva-soares-Lga-sub-0 {
            }
            .breno-da-silva-soares-Lga-sub-1 {
              font-size: 1.9rem;
              font-weight: 700;
              line-height: 1.1725;
              color: rgba(0, 0, 0, 0.8000000119);
              font-family: Roboto, 'Source Sans Pro';
            }
          }
          .desenvolvimento-de-sistemas-turno-diurno-ciclo-3-f6a {
            margin-right: 0.1rem;
            max-width: 17.2rem;
            font-size: 1.3rem;
            font-weight: 300;
            font-family: Roboto, 'Source Sans Pro';
            flex-shrink: 0;
            text-align: center;
            line-height: 1.1725;
            color: #000000;
          }
          .auto-group-rwvd-ZBx {
            box-sizing: border-box;
            padding: 0.4rem 0.55rem 0rem 0.95rem;
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .rendimento-UZp {
              margin-bottom: 3.8rem;
              width: 15.9rem;
              height: 7.4rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
            .integralizao-cg2 {
              margin-bottom: 4.966rem;
              width: 15.9rem;
              height: 4.134rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
            .brenodossantosifamedu-kXL {
              text-align: center;
              font-size: 1.3rem;
              line-height: 1.1725;
              white-space: nowrap;
              margin-bottom: 0.5rem;
              color: #000000;
              font-family: Roboto, 'Source Sans Pro';
              display: flex;
              align-items: baseline;
              flex-shrink: 0;
              font-weight: 300;

              .brenodossantosifamedu-kXL-sub-0 {
                font-size: 1.3rem;
                font-weight: 300;
                line-height: 1.1725;
                color: #000000;
                font-family: Roboto, 'Source Sans Pro';
              }
              .brenodossantosifamedu-kXL-sub-1 {
              }
            }
            .ra-123456789000-isU {
              font-size: 1.3rem;
              font-family: Roboto, 'Source Sans Pro';
              flex-shrink: 0;
              margin-right: 0.4rem;
              text-align: center;
              font-weight: 300;
              line-height: 1.1725;
              color: #000000;
              white-space: nowrap;
            }
          }
        }
        .matrcula-SHg {
          box-sizing: border-box;
          padding: 2.156rem 0.637rem 0rem 1.547rem;
          height: 100%;
          display: flex;
          align-items: flex-start;
          background-color: rgba(196, 196, 196, 0.1000000015);
          flex-shrink: 0;

          .auto-group-wa3y-NSE {
            background-size: 100% 100%;
            background-repeat: no-repeat;
            flex-shrink: 0;
            margin-right: 1.4561rem;
            height: 100%;
            width: 62.3406rem;
            background-position: center;
            background-image: url('REPLACE_IMAGE:a511823d556e8ab55849fe4aebda693fe0d016cb');
            box-sizing: border-box;
            padding: 21.162rem 3.019rem 33.573rem 6.098rem;

            .caixas-de-censura-gxi {
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;

              .auto-group-kv6f-FF8 {
                margin-bottom: 2.3614rem;
                width: 100%;
                display: flex;
                align-items: flex-end;
                flex-shrink: 0;

                .rectangle-50-Bea {
                  margin-right: 20.2198rem;
                  width: 7.9177rem;
                  height: 1.848rem;
                  background-color: #ffffff;
                  flex-shrink: 0;
                }
                .rectangle-52-842 {
                  margin-bottom: 1.8049rem;
                  width: 25.0865rem;
                  height: 2.4945rem;
                  background-color: #ffffff;
                  flex-shrink: 0;
                }
              }
              .rectangle-51-S4i {
                flex-shrink: 0;
                width: 11.558rem;
                height: 1.848rem;
                background-color: #ffffff;
              }
            }
          }
          .rolagem-9Uv {
            width: 0.8191rem;
            height: 51.0264rem;
            background-color: #c4c4c4;
            border-radius: 9rem;
            flex-shrink: 0;
          }
        }
      }
    }
  }
}
